#studentdiv{
    padding:20px;
    height:150px;
    width:240px;
    background-color: var(--blue);
    border-radius:20px;
    justify-content: center;
}
#uciteldiv{
    padding:20px;
    height:250px;
    width:250px;
    background-color: var(--blue);
    border-radius:20px;
    justify-content: center;
}
.Inputs{
    margin:20px 0px;
}
#tlacitko{
    background-color: rgb(110, 140, 182);
    margin:auto;
}
#tlacitko:hover{
  background-color: var(--red);
}

#MainDiv{
    background-color: var(--brighterBlue);
    padding:30px;
    width:1000px;
    height: 550px;
    border-radius: 10px;
    display:flex;
}
#ClassInfo{
    width:30%;
}
#Name{
    font-size:70px;
}
#info{
    margin-top:20px;
    margin-bottom:10px;
    font-size:20px;
}
.i{
    margin-top:10px;
}
.sinfo{
    background-color: rgb(255, 255, 255);

}
table, th, td {
    border-collapse: collapse;    
    padding:7px;
    border-right:1px solid black;
}
table{
    border:3px solid rgb(55, 55, 55);
    height:fit-content;
}
tr{
    height:30px;
}
tbody td{
    height:30px;
}
tr:nth-child(odd) {background: rgb(58, 119, 177)}

#kickstudent{
    text-decoration: none;
    border:none;
    background-color:transparent;
    cursor:pointer;
}

#exit{
    position: absolute;
    right:50px;
    bottom:30px;
}
.input{
    padding:10px;
}
#NewClassroom{
    position: absolute;
    right:70px;
    bottom:30px;
}
#CreateSubClass{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}