#studentdiv{
    padding:20px;
    height:150px;
    width:240px;
    background-color: var(--blue);
    border-radius:20px;
    justify-content: center;
}
#uciteldiv{
    padding:20px;
    height:250px;
    width:250px;
    background-color: var(--blue);
    border-radius:20px;
    justify-content: center;
}
.Inputs{
    margin:20px 0px;
}
#tlacitko{
    background-color: rgb(110, 140, 182);
    margin:auto;
}
#tlacitko:hover{
  background-color: var(--red);
}

#MainDiv{
    background-color: var(--brighterBlue);
    padding:30px;
    width:70%;
    height:90%;
    min-width: 950px;
    max-width:1100px;
    max-height:650px;
    border-radius: 10px;
    display:grid;
    grid-template-columns:1fr 3fr;
}
#Name{
    font-size:70px;
}
#info{
    margin-top:20px;
    margin-bottom:10px;
    font-size:20px;
}
.i{
    margin-top:10px;
}
.sinfo{
    background-color: rgb(255, 255, 255);
}
table, th, td {
    border-collapse: collapse;    
    padding:7px;
}
table{
    border:3px solid rgb(55, 55, 55);
    height:fit-content;
}
tr{
    height:30px;
}
tbody td{
    height:30px;
}
tr:nth-child(odd) {background: rgb(58, 119, 177)}

#kickstudent{
    text-decoration: none;
    border:none;
    background-color:transparent;
    cursor:pointer;
}
#germanTeacherInput{
    width:220px;
    padding:3px;
    font-size:20px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    border:none;
    border-radius: 0px;
    border-bottom:1px solid black ;
}
#GermanTeacherSubmit{
    padding:5px;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}
#GermanTeacherSubmit:hover{
    background: var(--hoverBlue)
}