body{
  background-color: rgb(73, 88, 103)
}
#LyceumGO{
  position: absolute;
  top:20%;
  left:100px;
  color: rgb(254, 95, 85);
  position: relative;
  font-size: 70px;
  font-family: fredokaone;
  margin: 0px 20px;
  padding: 10px;
  width:fit-content
}
#logreg{
  position: absolute;
  top:20%;
  right: 300px;
  width:400px;
  height:600px;
  background-color: rgb(87, 101, 122);
  padding: 10px;
  border-radius:10px;
  border:rgb(150, 162, 185) solid 7px;
  overflow: hidden;
  /* animation:HypnoticColorChanger 20s ease infinite */
}
#submit{
  margin-top:50px;
  font-size: 20px;
}
.LR{
  position:absolute;
  bottom:0px;
  font-size: 26px;
  width:200px;
  text-align:center;
  padding:10px;
  cursor: pointer;
}
#R{
  right:0px
}
#LRbackground{
position: absolute;
bottom:0px;
left:200px;
width:200px;
height:50px;
background-color: rgb(150, 162, 185);
transition: all 0.5s ease;
}
.RegisterDiv{
  display:none
}
@keyframes HypnoticColorChanger{
  0%{
    background-color: rgb(15, 64, 170);
  }
  20%{
    background-color: rgb(22, 155, 160);
  }
  40%{
    background-color: rgb(47, 161, 53);
  }
  60%{
    background-color: rgb(206, 209, 27);
  }
  80%{
    background-color: rgb(209, 167, 27);
  }
  100%{
    background-color: rgb(15, 64, 170);
  }
}
.Nadpis{
  font-size: 60px;
  margin-bottom: 50px;
}
.Information label{
  font-size: 30px;
}
.Input{
  font-size: 20px;
}
.Inputs{
  margin:20px 0px;
  font-size: 25px;
  padding:5px;
  background-color:rgba(0, 0, 0, 0);
  color:black;
  border:none;
  border-bottom: 1px solid black;
}
input:focus{
  outline:none;
}
::placeholder{
  color:rgba(209, 209, 209, 0.658)
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  box-shadow: none;
  -webkit-box-shadow:0 0 0 30px rgb(73, 88, 103) inset !important;
}
input:-webkit-autofill{
  -webkit-text-fill-color: black !important;
}
