/*-----------register.html/login.html-------*/
.MainDiv{
    position: relative;
    width:300px;
    height:500px;
    border-radius: 20px;
    border: 4px rgb(87, 115, 153);
    background-color: rgb(87, 115, 153);
    padding:30px;}
  
  .Nadpis{
      font-size:40px;
      font-family:Arial, Helvetica, sans-serif;}
  .Input{
        margin-bottom: 20px;
    }
  .Information{
    position:relative;
    top:50px;
  }
