#Maindiv{
    background-color: var(--brighterBlue);
    padding:30px;
    width:1000px;
    height:550px;
    border-radius: 10px;
    position: relative;
}

#sDatum{
    font-size: 10px;
}
tr.sinfo td{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border: solid black 0.5px;
}
tr.sinfo:hover td{
    background-color: rgb(99, 179, 250);;
}

#PageTitle{
    font-size: 30px;
    font-weight: bold;
}
