/*--------profile.html/editprofile.html----------*/

#Info{
    background-color: rgb(189, 213, 234);
    padding:30px;
    width:90%;
    height:90%;
    border: solid rgb(189, 193, 234);
    border-radius: 10px;
  }
#user{
    width:40%;
    float:left;
}

#userstats{
    background-color: rgb(151, 151, 202);
    width:60%;
    float:left;
    height:100%;
    padding:50px;
    border: solid rgb(151, 131, 202);
    border-radius: 10px;
}
/*-----------user side-----------*/
.UserImg{
    border:3px solid;
    border-radius:5px;
}

#info{
    margin-top:20px;
    margin-bottom:10px;
    font-size:20px;
    font-family:"Arial";
} 
#ProfileAboutMe{
    background-color: rgb(247, 247, 255);
    border-radius: 5px;
    width:400px;
    height:110px;
    word-break:break-all;
    margin-top:2px;
    padding:5px;
    font-size: 14px;
    cursor: pointer;
}

/*-----------userstats side-----------*/
td{
    padding:3px
}
.subjects{
    margin-bottom:10px;
    width:300px;
    border: solid rgb(151, 131, 202);
    border-radius: 10px;
    background-color: rgb(160, 138, 214);
}
.star{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    opacity:0;
}

.subjects:hover .star {
    opacity: 1;
}

/*-----------editprofile.html-----------*/
#editnotes{
    max-width:400px;
    min-width:400px;
    max-height: 75px;
    min-height: 75px;
    font-family: Arial;

}
#NotesBubak{
    background-color: rgb(189, 213, 234);
    padding:20px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
}
textarea {
    resize: none;
}
.information{
    margin-top:10px;
}
  

::placeholder { /* Firefox, Chrome, Opera */
    color: black;
}
   
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:black;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color:black;
}