/*--------profile.html/editprofile.html----------*/

#Info{
    margin:auto;
    margin-top:50px;
    background-color: rgb(189, 213, 234);
    padding:30px;
    width:1200px;
    height:750px;
    align-content:flex-start;
  }
#user{
    width:40%;
    float:left;
}

#userstats{
    background-color: rgb(151, 151, 202);
    width:60%;
    float:left;
    height:100%;
    padding:50px;
}
/*-----------user side-----------*/
.UserImg{
    border:3px solid;
    border-radius:5px;
}

#info{
    margin-top:20px;
    margin-bottom:10px;
    font-size:20px;
    font-family:"Arial";
} 
#ProfileAboutMe{
    background-color: rgb(247, 247, 255);
    border-radius: 5px;
    width:400px;
    height:110px;
    margin-top:2px;
    padding:5px;
    font-size: 14px;
}
#EProfileAboutMe{
    max-width:400px;
    min-width:400px;
    max-height: 75px;
    min-height: 75px;
    font-family: Arial;
    margin-top:10px;
}

.fsubject{
    background-color: rgb(87, 115, 153);
    padding:2px;
    border-radius:3px;
}
.fs{
    opacity: 0;
    background-color:rgb(87, 115, 153);
    border:solid 0px;
}
.fs:hover{
    opacity: 1;
}
textarea {
    resize: none;
}
.information{
    margin-top:10px;
}
  
::placeholder { /* Firefox, Chrome, Opera */
    color: black;
}
   
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:black;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color:black;
}
/*-----------userstats side-----------*/
td{
    padding:3px
}
.subjects{
    margin-bottom:10px; 

}
.star{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    opacity:0;
}
.star:focus{
    src:"{{url_for('static',filename='images/ystart.png')}}"
}
.subjects:hover .star {
    opacity: 1;
}