#MainDiv{
    height:90vh;
    padding:50px;
}
#NAME{
    left:5%;
    font-size: 70px ;
    font-family:Arial;
}
#flex-container{
    height:100%;
    display:flex;
    align-items:stretch;
    width:100%;
    justify-content: space-around;
}
.flex-items{
    margin:10px;
}
.decorator{
    background-color: rgb(189, 213, 234);
    border: black 3px solid;
    height: 100%;
    padding:20px
}
.scroller{
    overflow-y: auto;
}
.bsetings{
    margin-top: 20px;
    border-top:2px solid black;
    padding: 10px 0px;
}
.first{
    /* min-height: 700px; */
    width:35%;
    display:flex;
    flex-direction: column;
    
}

.third{
    /* min-height: 800px; */
    width:45%
}
.Module{
    cursor:pointer;
}
.child p {
    margin-top:5px;
}
#subclassinfo{

    font-size: 35px;
}
#subclassinfo p{
    margin-bottom:10px;
}