#MainDiv{
    height:90vh;
    padding:50px;
}
#NAME{
    left:5%;
    font-size: 70px;
    font-family:Arial;
    position:absolute;
}
#flex-container{
    height:100%;
    display:flex;
    align-items: stretch;
    width:100%;
    justify-content: space-around;
}
.flex-items{
    background-color: rgb(189, 213, 234);
    border: black 3px solid;
    margin:10px;
}
.first{
    /*min-height: 700px;*/
    width:35%
}
.second{
    /*min-height: 800px;*/
}
.third{
    /*min-height: 800px;*/
    width:45%
}
.Module{
    cursor:pointer;
}
.child p {
    margin-top:5px;
}
#subclassinfo{
    margin: 20px;
    font-size: 35px;
}
#subclassinfo p{
    margin-bottom:10px;
}