#SubjectMainDiv{
    width:90vw;
    height:80vh;
    background-color: var(--brighterBlue);
    padding:50px;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
}

.subject{
    width:400px;
    height:600px;
    background-color: var(--blue);
    padding:20px;
    color:black;
    transition: all 0.3s ease;
}
.subject:hover{
    box-shadow: 0 0 20px black;
    transform:scale(1.01)
}
.SubName{
    margin-top: 70px;
    text-align: center;
    font-size:50px;
    margin-bottom:10px
}