* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    height:100%;
  }
  body{
    height:100%;
    background-color: var(--theBrightestBlue);
    font-family: arial;
  }
  :root{
    --blue:rgb(87, 115, 153);
    --brighterBlue:rgb(189, 213, 234);
    --theBrightestBlue:rgb(247, 247, 255);
    --red:rgb(254, 95, 85);
    --black: rgb(73, 88, 103);
    --module:rgb(87, 115, 153);
    --itemsGrid:rgb(189, 213, 234);
  }
/*----------------------------------------------------------------------*/


  @font-face{
    font-family:'Bree Serif';
    src:url("/staticfonts/breeserif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
  }
  @font-face{
    font-family:'Oxygen';
    src:url("/staticfonts/oxygen.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
  }
  @font-face{
    font-family: fredokaone;
    src:url("/static/fonts/fredokaone.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
    }
/*
    1)black                  rgb(73, 88, 103)
    2)blue                 rgb(87, 115, 153)
    3)bright blue          rgb(189, 213, 234)
    4)the brightest blue   rgb(247, 247, 255)
    5)red                    rgb(254, 95, 85)
začátek projektu asi koncem dubna 2021*/