/*----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height:100%;
}
body{
  height:100%;
  background-color: var(--theBrightestBlue);
  font-weight: 400;
  font-family: 'Signika Negative', sans-serif;
  /* font-family: 'Balsamiq Sans', cursive; */
  /* font-family: 'Fredoka One', cursive; */
}
:root{
  --black: rgb(73, 88, 103);
  --blue:rgb(87, 115, 153);
  --brighterBlue:rgb(189, 213, 234);
  --theBrightestBlue:rgb(247, 247, 255);
  --red:rgb(254, 95, 85);
  --module:rgb(87, 115, 153);
  --itemsGrid:rgb(189, 213, 234);
}
/*
    1)black                  rgb(73, 88, 103)
    2)blue                 rgb(87, 115, 153)
    3)bright blue          rgb(189, 213, 234)
    4)the brightest blue   rgb(247, 247, 255)
    5)red                    rgb(254, 95, 85)
začátek projektu asi koncem dubna 2021*/