.Module{
    padding:15px;
    margin:10px;
    min-height:40px;
    z-index:2;
    /* animation: forwards backhover 0.2s; */

}
.child{
    display:none;
}


.DIVchild{
    margin:10px;
    height:150px;
    background-color: rgb(216, 94, 94);
    border:black 3px solid;
    padding:5px;
}
.Material{
    display: flex;
    justify-content:left;
    justify-items: stretch;
    align-items:stretch;
    position: relative;
    overflow-x: auto;
    height:85%;
}
.DIVchild p {
    height:15%;
    position:relative;
    left:15px
}
.Block{
    margin:5px;
    padding:5px 15px;
    min-width: 130px;
    font-size:18px;

}
.b11:hover{
    background:rgb(158, 103, 158)
}
.b12:hover{
    background-color:rgb(134, 84, 172) ;
}
.b13:hover{
    background-color:rgb(75, 67, 134) ;
}
.b14:hover{
    background-color:rgb(134, 84, 172) ;
}
.Block:hover  .celkemwort{
    display:block;
}
.celkemwort{
    margin-top:10px;
    width: 100%;
    text-align: center;
    font-size:16px;
    display:none;
}
.nadpisChild{
    margin-left:10px;
    font-size:20px;
}
#SecondDiv{
    
}