.Module{
    padding:15px;
    margin:10px 0px;
    height:3rem;
    z-index:2;
    border-radius:10px ;
    transition:height .3s;
    overflow: hidden;
}
.child{
    display:none;
}
#PVerb{
    background-color: brown;
    padding:5px;
    border:solid 3px rgb(138, 38, 38);
    position: relative;
    width:220px;
    border-radius:10px ;

}

.DIVchild{
    margin:10px;
    height:160px;
    background-color: rgb(216, 94, 94);
    border-radius: 10px;
    padding:10px;
}
.Material{
    display: flex;
    justify-content:left;
    justify-items: stretch;
    align-items:stretch;
    position: relative;
    overflow-x: auto;

    height:85%;
}
.DIVchild p {
    height:15%;
    position:relative;
    left:15px
}
.Block{
    margin:5px;
    padding:5px 15px;
    min-width: 210px;
    font-size:18px;
    cursor:pointer;
    border-radius: 10px;
}
.b11:hover{
    background:rgb(158, 103, 158)
}
.b12:hover{
    background-color:rgb(134, 84, 172) ;
}
.b13:hover{
    background-color:rgb(75, 67, 134) ;
}
.b14:hover{
    background-color:rgb(41, 60, 102) ;
}
.Block:hover  .celkemwort{
    display:block;
}
.celkemwort{
    margin-top:10px;
    width: 100%;
    text-align: center;
    font-size:16px;
    display:none;
}
.nadpisChild{
    margin-left:10px;
    font-size:20px;
}
#TestDiv{
    width:900px;
    height:550px;
    background-color: rgb(247, 247, 255);
    display:none;
    position:absolute;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
    padding:30px;
    top:15vh;
}
.w{
    display:none;
    height: 100%;
}

.krizek{
    font-size: 30px;
    position:absolute;
    right:30px;
    top:20px;
    cursor:pointer;
}
.nnadpis{
    font-size: 30px;
    margin-bottom: 10px;
}
.cnadpis{
    font-size: 20px;
}
.ntext{
    font-size: 20px;
    margin-bottom: 10px;

}
/* Samé konkrétní úpravy :) */
/* 1g1 */
#VK th{
    padding:3px;
}
#VK td{
    background-color: rgb(163, 163, 238);
    border-radius:  5px;
    padding:3px;
}
#VK{
    border: 3px solid black;
    background-color: rgb(77, 135, 223);
    border-radius:  10px;
}
.g,.b{
    margin:20px 0px;
}
.didyouknow{
    margin:10px 0px;
}
.t{
    cursor: pointer;
    border-radius: 10px;
}
#VK span{
    color:rgb(255, 153, 0);
}
.cara{
    background-color: black;
    height:2px;
}
.easyt{
    background-color: rgb(67, 155, 67);
    padding:10px;
    border: solid 3px rgb(67, 155, 67);
    position: absolute;
}
.easyt:hover{
    border: solid 3px rgb(38, 114, 38);
}
.hardt:hover{
    border: solid 3px rgb(148, 29, 29);
}
.hardt{
    border: solid 3px rgb(201, 39, 39);
    background-color: rgb(201, 39, 39);
    padding:10px;
    position: absolute;
    left:150px;
}
.task{
    display:none;
    position: relative;
    height:100%;
}

#TDContent{
    height:100%;
    position: relative;
}
.task p{
    font-size: 25px;
}
.questions{
    width:800px;
}
.nzadani{
    font-size: 30px;
}
.answer{
    position:absolute;
    top:20%;
    height: 80%;
    left:50%;
    transform: translate(-50%,0%);
}
.Franta{
    top:70px;
    width:700px;
    text-align: center;
}
.centralizer,.Franta{
    position: absolute;
    left:50%;
    transform: translate(-50%,0%);

}
.answer input{
    padding:5px;
    font-size: 30px;
    width:300px;
}
#SubstituteForInput{
    text-align: center;
    width:300px;
    font-size:30px;
    padding:5px;
    display:none;
}
.answer button{
    background-color: rgb(189, 213, 234);
    font-size: 28px;
    padding: 5px;
    border-radius:5px ;
    width:250px;
    height: max-content;
}

.ABCDodpovedi{
    display:grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 40px 40px;
    grid-row-gap:30px;
    grid-column-gap:40px;
}

.congratulations{
    display:none;
    height:100%;
}
#strana{
    height:7%;
    font-size: 30px;
    text-align: center;
}
.sgrid{
    height:93%;
    position:absolute;
    bottom:0px;
    width:100%;
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-gap:10px;
}
.Wgridchild{
    background-color: rgb(86, 167, 140);
    padding:20px;
    font-size: 24px;
    text-align: center;
    cursor:pointer;
    border-radius: 10px;
}
.Flashcards{
    grid-column:2/4;
}
.Matches{
    grid-column:2/4;
}
#slovicka{
    grid-row:1/4;
    max-height: 100%;
    overflow-y: auto;
    border:solid 3px black;
    border-radius: 5px;
}
#slovnicek{
    width:100%;
    background-color: rgb(189, 213, 234);
    border-spacing:0px;
    padding-right: 0px;
}
#slovnicek th{
    border-bottom:solid 1px black;
    background-color: rgb(122, 64, 175);
}
#slovnicek th, #slovnicek td{
    border-right:1px solid black;
    padding:3px;
}
#slovnicek tr:nth-child(odd) {background: rgb(112, 178, 240)}
.stul{
    position: absolute;
    width:800px;
    height:400px;
    top:100px;
    padding:40px;
    border: solid black 1px;
}
.SPATNY{
    background-color: rgb(161, 35, 35);
    left:10px;
    position:absolute;
}
.DOBRY{
    background-color: rgb(13, 161, 75);
    right:10px;
    position:absolute;

}
.balicek{
    width:200px;
    height:250px;
    border:black solid 3px;
    border-radius: 10px;
    z-index:0;

}
.KartaText{
    top:75px;
    position: absolute;
    text-align: center;
    width:100%;
}
.karta{
    width:200px;
    height:250px;
    border: black solid 3px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    z-index:1;
}