{%extends "baselog.html"%}
{%block title%}Fyzika{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/subject.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/subjects/fyzika.css')}}">
{%endblock%}
{%block content%}
<div id="MainDiv">
    <div id="NAME"><b>Fyzika</b></div>
    <div class="circleFirst" id="idvelkekoule"><p id="pTextpMain">Úvod do fyziky</p>
        <div class="cara">
            <div class="circle" id="idvelkekoule" style="left: 300px;top: -45px;">
                <p id="pTextpMain" >Second</p>
                <div class="cara">
                    <div class="circle" id="idvelkekoule" style="left: 300px;top: -45px;"><p id="pTextpMain">Third</p></div>
                </div>
            </div>
        </div>
        <div class="caraU">
            <div class="circle" id="circle1" style="top: -56px;left: -25px;transform:rotate(-30deg)"><p class="pTextp" style="top:14px">Skalární vektorové veličiny + operace s vektorovými veličinami</p></div>
        </div>
        <div class="caraD">
            <div class="circle" id="circle2" style="top:158px;left:-30px;transform:rotate(-10deg)"><p class="pTextp">Zíkladní pojmy/úvod</p></div>
        </div>
        <div class="caraD2">
            <div class="circle" id="circle3" style="top:158px;left:-30px;transform: rotate(40deg);"><p class="pTextp";>Fyzikální veličiny a jejich jednotky</p>
                <div class="caraD" style="top:50px;left:0px">
                    <div class="circle" id="circle4" style="top:158px;left:-25px;transform: rotate(-10deg);"><p class="pTextp">Soustavi SI</p></div>
                </div>
                <div class="caraD2" style="left: 70px;top: 40px;transform: rotate(-30deg);">
                    <div class="circle" id="circle5" style="top:158px;left:-30px;transform: rotate(30deg);"><p class="pTextp">Jednotky veličin</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{url_for('static',filename='javascriptoooooooooooooo/sdanh.js')}}"></script>
{%endblock%}