{%extends "baselog.html"%}
{%block title%}Němčina{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/subject.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/subjects/germany.css')}}">

{%endblock%}
{%block content%}
<div id="MainDiv">
    <div id="NAME"><b>Němčina</b></div>
    
    <div id="flex-container">
        <div class="flex-items first">
            
        </div>
        <div class="flex-items second">
            <div class="Module" id="M1" tabindex="1">
                <p><b>1) Deutsch ist NICHT leicht!</b></p>
                <div class="child">
                    <a href="module1"><p>Lekiton 1</p></a>
                    <a href="module2"><p>Lekiton 2</p></a>
                    <a href="module3"><p>Lekiton 3</p></a>
                </div>                
            </div>
            <div class="Module" id="M2" tabindex="1">
                <p><b>2) Hobbys und Schule</b></p>
                <div class="child">
                    <p>Lekiton 4</p>
                    <p>Lekiton 5</p>
                    <p>Lekiton 6</p>
                </div> 
            </div>
            <div class="Module" id="M3" tabindex="1">
                <p><b>3) Freizeit und Feiern</b></p>
                <div class="child">
                    <p>Lekiton 7</p>
                    <p>Lekiton 8</p>
                    <p>Lekiton 9</p>
                </div>
            </div>
            <div class="Module" id="M4" tabindex="1">
                <p><b>4) Essen, Einkaufen und Gesundheit</b></p>
                <div class="child">
                    <p>Lekiton 10</p>
                    <p>Lekiton 11</p>
                    <p>Lekiton 12</p>
                </div>
            </div>
            <div class="Module" id="M5" tabindex="1">
                    <p><b>5) Module 5</b></p>
                <div class="child">
                    <p>Lekiton 13</p>
                    <p>Lekiton 14</p>
                    <p>Lekiton 15</p>
                </div>
            </div>
        </div>
        <div class="flex-items third">
            
        </div>
    </div>
</div>
<script>
     $(document).ready(function(){
        const a = [false,false,false,false,false]
        const x = document.querySelectorAll(".Module");
        const child = document.querySelectorAll(".child");
        for(let i=1;i<=5;i++){
                $("#M"+i).click(function(){
                    if (!(a[i-1])){
                        for (let y=0;y<=4;y++){
                            a[y]=false;
                            x[y].style.height="40px";
                            child[y].style.display="none";
                        };
                        a[i-1]=true;
                        x[i-1].style.height="110px";
                        child[i-1].style.display="block";
                    }
                    else{
                        a[i-1]=false;
                        x[i-1].style.height="40px";
                        child[i-1].style.display="none";
                    };                 
                });
            };
        });
</script>
<!-- <script>
    const x = document.querySelectorAll(".Module");
    for(let i=0;i<x.length;i++){
        console.log(x[i].style.backgroundColor = "rgb(100,"+40*i+",100)");
    }
</script> -->
{%endblock%}