{%extends "baselog.html"%}
{%block title%}Němčina{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/subject.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/subjects/germany.css')}}">
{%endblock%}
{%block content%}

<div id="MainDiv">
<div id="grid-container">
<div class="NAME"><b>Němčina</b></div>
<div class="grid-items first">
    <div class="scrollery">
        <div id="subclassinfo">
            <p>Třída: {{subclass.classroomname}}</p>
            <p>Progres: {{subclass.progres}}</p>
            <div id="PVerb" onclick="visibilator('PVerb','','')" style="cursor:pointer;">
                Verb/Slovesa
            </div>
        </div>
    </div>
    <div class="bsetings">
        <input type="checkbox" id="chvilkanakontrolu"> <label for="chvilkanakontrolu">dodatečný čas po odpovědi</label>
    </div>
</div>
<div class="grid-items second">

        <div class="Module" id="M1" tabindex="1" value="3" value2="4" style="background-color: rgb(115, 64, 155);">
            <p><b>1) Deutsch ist NICHT leicht!</b></p>
            <div class="child">
                <p class="L" id="L3" >Lektion 1-3</p>
            </div>                
        </div>
        <div class="Module" id="M2" tabindex="1" value="3" value2="7" style="background-color: orange;">
            <p><b>2) Hobbys und Schule</b></p>
            <div class="child">
                <p class="L" id="L4">Lektion 4</p>
                <p class="L" id="L5">Lektion 5</p>
                <p class="L" id="L6">Lektion 6</p>
            </div> 
        </div>
        <div class="Module" id="M3" tabindex="1" value="3" value2="7" style="background-color: rgb(153, 28, 126);">
            <p><b>3) Freizeit und Feiern</b></p>
            <div class="child">
                <p class="L" id="L7">Lektion 7</p>
                <p class="L" id="L8">Lektion 8</p>
                <p class="L" id="L9">Lektion 9</p>
            </div>
        </div>
        <div class="Module" id="M4" tabindex="1" value="4" value2="8" style="background-color: rgb(30, 150, 70);height:4rem;">
            <p><b>4) Essen, Einkaufen und Gesundheit</b></p>
            <div class="child">
                <p class="L" id="L10">Lektion 10</p>
                <p class="L" id="L11">Lektion 11</p>
                <p class="L" id="L12">Lektion 12</p>
            </div>
        </div>
        <div class="Module" id="M5" tabindex="1" value="3" value2="7" style="background-color: rgb(74, 101, 160);">
                <p><b>5) Module 5</b></p>
            <div class="child">
                <p class="L" id="L13">Lektion 13</p>
                <p class="L" id="L14">Lektion 14</p>
                <p class="L" id="L15">Lektion 15</p>
            </div>
        </div>

</div>
<div class="grid-items third">
    <div class="scrollery">
        <div id="DIVL3">
            <div class="DIVchild" id="gramatik" style="background-color: rgb(185, 120, 185);">
                <b class="nadpisChild">Gramatik</b>
                <div class="Material">
                    <div class="Block b11"onclick="visibilator('3','g',1)">
                        <b>Verbkonjugation im Präsens</b><br>
                        Časování sloves v přítomném čase
                    </div>
                    <div class="Block b11"onclick="visibilator('3','g',2)">
                        <b>Unbestimmte und bestimmte Artikel</b><br>
                        Neurčité a určitě členy
                    </div>
                    <div class="Block b11"onclick="visibilator('3','g',3)">
                        <b>Possessivartikel</b><br>
                        Přivlasťnovací zájmena
                    </div>
                </div>
            </div>
            <div class="DIVchild" id="wortschatz" style="background-color: rgb(157, 101, 201);">
                <b class="nadpisChild">Wortschatz</b>
                <div class="Material">
                    {%for i,v in NJ1["lekce3"]["words"].items()%}
                    <div class="Block b12" onclick="visibilator('3','w','{{i}}')">
                        <b>{{i}}</b>
                        <div class="celkemwort">
                            {{v[0]}}
                        </div>
                    </div>
                    {%endfor%}
                    
                </div>
            </div>
            <div class="DIVchild" id="lesen" style="background-color: rgb(93, 84, 164);">
                <b class="nadpisChild">Lesen</b>
                <div class="Material">
                    <div class="Block b13" onclick="visibilator('l','1')">
                        <b>Text1</b><br>
                        Hallo Leute!
                    </div>
                    <div class="Block b13" onclick="visibilator('l','2')">
                        <b>Text2</b><br>
                        Heute habe ich nicht Geburstag.
                    </div>
                    <div class="Block b13" onclick="visibilator('l','3')">
                        <b>Text3</b><br>
                        Prag ist teuer.
                    </div>
                    <div class="Block b13" onclick="visibilator('l','4')">
                        <b>Text4</b><br>
                        Meine Familie ist groß.
                    </div>
                </div>
            </div>
            <div class="DIVchild" id="endtest" style="background-color: rgb(54, 80, 136);">
                <b class="nadpisChild">Tests</b>
            </div>
        </div>
    </div>
</div>
</div>

<!------------------------------------------------------------------------------------------------------------>
<div id="TestDiv">
    <div class="krizek" onclick="hider()" tabindex=3 style="z-index: 2;">✕</div>
    <div id="TDContent">
        <div class="task ABCD">
            <div class="questions">
                <b id="nzABCD" class="nzadani">Wählst du die (richtige) Antwort, wenigstens versuchst du es.</b><br>
                <p id="czABCD" class="czadani">Vyber (správnou) odpověď, alespoň to zkus.</p>
            </div>
            <div class="answer">
                <p id="FrantaABCD" class="Franta"></p>
                <div class="centralizer" style="bottom:30px;">
                    <div class="ABCDodpovedi">
                        <button style="border:solid 3px rgb(189, 213, 234)" type="button" class="Felix" id="A" onclick="checkanswer('A')">Odpoved A</button>
                        <button style="border:solid 3px rgb(189, 213, 234)" type="button" class="Felix" id="B" onclick="checkanswer('B')">Odpoved B</button>
                        <button style="border:solid 3px rgb(189, 213, 234)" type="button" class="Felix" id="C" onclick="checkanswer('C')">Odpoved C</button>
                        <button style="border:solid 3px rgb(189, 213, 234)" type="button" class="Felix" id="D" onclick="checkanswer('D')">Odpoved D</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="task X">
            <div class="questions">
                <b id="nzX" class="nzadani">Schreibst du die (richtige) Antwort.</b><br>
                <p id="czX" class="czadani">Napiš (správnou) odpověď.</p>
            </div>
            <div class="answer">
                <p id="FrantaX" class="Franta"></p>
                
                <div class="centralizer" style="bottom: 170px;">
                    <div id="XP">
                        <input type="text" id="X" spellcheck="false">
                    </div>
                    <div id="SubstituteForInput">

                    </div>
                </div>
                <div class="centralizer" style="bottom: 70px;">
                    <button type="button" onclick="checkanswer('X')" id="kontrola" style="margin-top:50px;">Kontroll</button>
                </div>
            </div>
        </div>
        <div class="task FLASHCARDS">
            <div class="questions">
                <b id="nzX" class="nzadani">Benutze die Pfeiltasten (←/→), um die Karten zu drehen.</b><br>
                <p id="czX" class="czadani">Pomocí šipek (←/→) otáčej karty. </p>
            </div>
            <p id="flashinfo"></p>

            <div id="stul"class="centralizer">
                <div class="balicek" id="spatny"><div id="SPATNY"></div></div>
                <div class="balicek" id="dobry"><div id="DOBRY"></div></div>
                <div class="centralizer balicek "id="V">
                    <img id="repete" src="{{url_for('static',filename='images/repete.png')}}">
                    <div id="VYBER"></div>
                </div>
                <!--Jak vypadá karta
                    <div class="karta ">
                        <div class="textcentralizer">
                            <div class="front">
                                <p class="KartaText">das Deutsch</p>
                            </div>
                            <div class="back">
                                <p class="KartaText">němčina</p>
                            </div>
                        </div>
                    </div> 
                -->
            </div>
            <div id="vyhodnoceni"class=centralizer></div>
        </div>
        <div class="congratulation">
            <div style="display:flex;flex-direction:column;justify-content:center;align-items: center;position: absolute;width: 100%;height: 100%;">
                <p style="font-size: 42px;"><b>Gratulation zum Bestehen der Prüfung</b></p>
                <p style="font-size:30px;">Gratuluji k dokončení testu:</p><br>
                <p>Erfolgsquote / úspěšnost:</p><br>
                <p style="font-size: 100px;"id="procenta"></p>
            </div>
        </div>
        <div class="Teorie xPVerb">
            <table>
                <tr>
                    <th>id</th>
                    <th>slovíčko</th>
                </tr>
                <tr><td>1</td><td>haben</td></tr>
                <tr><td>[cislo]</td><td>[sloveso]</td></tr>
            </table>
        </div>
        <div class="Teorie xs">
            <b><div id="strana"></div></b>
            <div class="sgrid">
                <div id="slovicka">
                    <table id='slovnicek'>
                    </table>
                </div>
                <div class="Wgridchild Flashcards" onclick="teststart('FlashCards')">
                    Flashcards
                </div>
                <div class="Wgridchild WritingCZ" onclick="teststart('NtoCZ')">
                    Psaní<br>
                    němčina<br>
                    ↓<br>
                    čeština
                </div>
                <div class="Wgridchild WritingN" onclick="teststart('CZtoN')">
                    Psaní<br>
                    čeština<br>
                    ↓<br>
                    němčina
                </div>
                <div class="Wgridchild Matches">
                    Spojování
                </div>
            </div>
        </div>

        <div class="Teorie x3g1">
            <p class="nnadpis"><b>Verbkonjugation im Präsens</b></p>
            <p class="cnadpis">Časování sloves v přítomném čase</p>
            <div class="g">
                <table id="VK">
                    <tr><th></th><th colspan="2">pravidelná slovesa</th><th colspan="3">nepravidelná slovesa</th></tr>
                    <tr><th>infinitiv</th><td>spielen</td><td>trinken</td><td>haben</td><td>sein</td><td>essen</td></tr>
                    <tr><th>ich</th><td>spiel<span>e</span></td><td>trink<span>e</span></td><td>hab<span>e</span></td><td><span>bin</span></td><td>ess<span>e</span></td></tr>
                    <tr><th>du</th><td>spiel<span>st</span></td><td>trink<span>st</span></td><td><span>hast</span></td><td><span>bist</span></td><td><span>isst</span></td></tr>
                    <tr><th>er/sie/es</th><td>spiel<span>t</span></td><td>trink<span>t</span></td><td><span>hat</span></td><td><span>ist</span></td><td><span>isst</span></td></tr>
                    <tr><th>wir</th><td>spiel<span>en</span></td><td>trink<span>en</span></td><td>hab<span>en</span></td><td>sind</td><td>ess<span>en</span></td></tr>
                    <tr><th>ihr</th><td>spiel<span>t</span></td><td>trink<span>t</span></td><td>hab<span>t</span></td><td>seid</td><td>ess<span>t</span></td></tr>
                    <tr><th>sie/Sie</th><td>spiel<span>en</span></td><td>trink<span>en</span></td><td>hab<span>en</span></td><td><span>sind</span></td><td>ess<span>en</span></td></tr>
                </table>
            </div>
            <p class="didyouknow">Věděliste, že v němčině při vykání vlastně "onikáme".</p>
            <div class="cara"> </div>
            <div class="b">
                <p class="ntext"><b>Übungen:</b></p>
                <p class="ctext">Cvičení:</p>
                <div class="t easyt" onclick="teststart('ABCD','3','grammar','1')">leichter Test</div>
                <div class="t hardt" onclick="teststart('X','3','grammar','1')">schwieriger Test</div>
            </div>
        </div>
        <div class="Teorie x3g2">asdasd</div>
        <div class="Teorie x3g3">asdasd</div>

        

        <div class="Teorie x3l1">nbmgzu</div>
        <div class="Teorie x3l2">hgkignmb</div>
        <div class="Teorie x3l3"></div>

        <div class="Teorie x3t1"></div>
        <div class="Teorie x3t2"></div>
        <div class="Teorie x3t3"></div>
    </div>
</div>
</div>
<script>
    function sleep(ms){
        return new Promise(resolve => setTimeout(resolve,ms))
    };
    //vše týkající se zviditelňování
     $(document).ready(function(){
        const a = [false,false,false,false,false]
        const x = document.querySelectorAll(".Module");
        const child = document.querySelectorAll(".child");
        const L = document.querySelectorAll(".L")
        // tohle zobrazuje Lektiony 1-15 v modulech

        for(let i=1;i<6;i++){
        $("#M"+i).click(function(){
            if (!(a[i-1]) ){
                for (let y=0;y<5;y++){
                    a[y]=false;
                    child[y].style.display="none";
                    x[y].style.height=x[y].getAttribute("value")+"rem";
                };
                a[i-1]=true;
                x[i-1].style.height=x[i-1].getAttribute("value2")+"rem";
                child[i-1].style.display="block";
            }
            else{
                a[i-1]=false;
                child[i-1].style.display="none";
                x[i-1].style.height=x[i-1].getAttribute("value")+"rem";
            };                 
        });
        };
        
        $("#TDContent").children().hide()
        //pracujou s rozklikáváním jednotlivých modelů
        for (let i=3;i<16;i++){
            $("#DIVL"+i).hide()
        }
        
        for(let i=3;i<L.length;i++){
            $("#L"+i).click(function(e){
                for(let i=0;i<L.length;i++){
                        L[i].style.color="black"
                }
                for (let i=3;i<16;i++){
                    $("#DIVL"+i).hide()
                }
                e.stopPropagation();
                if($("#DIVL"+i).is(":visible")){
                    
                    document.getElementById("L"+i).style.color="black";
                    $("#DIVL"+i).hide()
                }
                else{
                    document.getElementById("L"+i).style.color="gray";
                    $("#DIVL"+i).show()                
                }

            })
        }
        
    });
</script>
<script>
    // Vše týkající se testů 
    //kdybych se někdy divil proč jsem místo dict rozložil slovíčka na 2 array
    //je to z toho důvodu že přes internet dict přichází 
    //ROZHÁZENÉ a já nevím jak to :D
    const NJ = JSON.parse('{{ NJ1 | tojson | safe }}');
    const zakladnibarva = "3px solid rgb(189, 213, 234)";
    const spravnabarva = "3px solid rgb(25, 146, 61)";
    const spatnabarva = "3px solid rgb(199, 42, 42)";
    const oznacovacibarva = "3px solid rgb(87, 115, 153)";
    let UnusedQuestions;
    let MomentalQuestion;
    let TypeOfTest;
    let SetOfQuestions;
    let Success =[];
    let NumberForCalculationOfSuccess;
    let CanUseEnter=false;
    let CanUseEsc=false;
    let CanUseArrows=false;
    let CurrentVocabulary;
    let ABCDanswer=document.getElementsByClassName("Felix");
    let dvapokusy;
    //ABCD hover mod
    for (let i=0;i<4;i++){
        ABCDanswer[i].addEventListener("mouseover",function (event){
            if (event.target.style.border==zakladnibarva) {
                event.target.style.border=oznacovacibarva;                
            }
        })
        ABCDanswer[i].addEventListener("mouseleave",function (event){
            if (event.target.style.border==oznacovacibarva) {
                event.target.style.border=zakladnibarva;
            }
        })
    }    
    // Na zmáčknutí určitých kláves
    document.addEventListener("keydown",function(e){
        if(e.key==="Enter" & CanUseEnter){
            switch (TypeOfTest){
            case "FlashCards":
                rotatecard(balicekKaretVyber.children[balicekKaretVyber.children.length-1])
                break;
            case "CZtoN":
            case "NtoCZ":
            case "X":
                if (dvapokusy==-1){
                    document.getElementById("SubstituteForInput").innerHTML="";
                    $("#SubstituteForInput").hide();
                    $("#XP").show();
                    UnusedQuestions.splice(UnusedQuestions.indexOf(MomentalQuestion),1);
                    document.getElementById("XP").style.border="none";
                    document.getElementById("X").value="";
                    newquestion();
                }else if (dvapokusy==1 || dvapokusy==0){
                    checkanswer("X");
                }
            }
        }
        else if (e.key==="Escape" & CanUseEsc){
            hider();
        }
        else if (e.key==="ArrowLeft"){
            movecard("left");
        }
        else if (e.key==="ArrowRight"){
            movecard("right");
        };
    })
    // Flashcards ---------------------------------------
    const balicekKaretVyber = document.getElementById("VYBER");
    const balicekKaretSpatny = document.getElementById("SPATNY");
    const balicekKaretDobry = document.getElementById("DOBRY");
    const vyhodnoceni = document.getElementById("vyhodnoceni");
    //Zde se připravuje balíček karet
    function FlashcardsPreparing(){
        
        balicekKaretSpatny.innerHTML="";
        balicekKaretDobry.innerHTML="";
        balicekKaretVyber.innerHTML="";
        balicekKaretSpatny.onmouseover=null;
        balicekKaretSpatny.onmouseout=null;
        balicekKaretSpatny.style.opacity="1";
        document.getElementById("V").onmouseover=null;
        document.getElementById("V").onmouseout=null;
        document.getElementById("V").onclick=null;
        document.getElementById("V").style.opacity="1";
        document.getElementById("flashinfo").innerHTML="";
        for(let i=0;i<CurrentVocabulary[0];i++){
            let karta = document.createElement("div");
            let centralizer = document.createElement("div");
            let textf = document.createElement("p");
            let textb = document.createElement("p");
            let front = document.createElement("div");
            let back = document.createElement("div");
            karta.setAttribute("class","karta");
            centralizer.setAttribute("class","textcentralizer");
            karta.appendChild(centralizer);
            
            karta.setAttribute("onclick","rotatecard()");

            textf.setAttribute("class","KartaText");
            textf.appendChild(document.createTextNode(CurrentVocabulary[1][i]));
            textb.setAttribute("class","KartaText");
            textb.appendChild(document.createTextNode(CurrentVocabulary[2][i]));

            front.setAttribute("class","card-side front");
            back.setAttribute("class","card-side back");
            front.appendChild(textf);
            back.appendChild(textb);
            
            centralizer.appendChild(front);
            centralizer.appendChild(back);
            karta.setAttribute("onclick","rotatecard(this)");
            karta.setAttribute("id",i);
            balicekKaretVyber.appendChild(karta);
            dragElement(karta);
        };
        vyhodnoceni.innerHTML="0/"+balicekKaretVyber.children.length;
        
        let kontrola = new MutationObserver(function(mutations){
        vyhodnoceni.innerHTML=balicekKaretSpatny.children.length+balicekKaretDobry.children.length+"/"+CurrentVocabulary[0];
        if (balicekKaretVyber.children.length==0){
            vyhodnoceni.innerHTML=Math.round(balicekKaretDobry.children.length/CurrentVocabulary[0]*100)+"%";
            balicekKaretSpatny.onmouseover=function(){
                document.getElementById("flashinfo").innerHTML="Willst du deine Fehler korrigieren?";
                document.getElementById("spatny").style.opacity="0.5";
            };
            balicekKaretSpatny.onmouseout=function(){
                document.getElementById("flashinfo").innerHTML="";
                document.getElementById("spatny").style.opacity="1";
            };
            document.getElementById("V").onmouseover=function(){
                document.getElementById("flashinfo").innerHTML="Möchtest du das Kartendeck wiederholen?";
                document.getElementById("V").style.opacity="0.5";
            }
            document.getElementById("V").onmouseout=function(){
                document.getElementById("flashinfo").innerHTML="";
                document.getElementById("V").style.opacity="1";
            }
            document.getElementById("V").setAttribute("onclick","FlashcardsPreparing()");
            dragElement(balicekKaretSpatny);
        };
        })
        let config = { attributes: true, childList: true, characterData: true };
        kontrola.observe(balicekKaretVyber,config);
    
        
    };
    //funkce pro manipulaci s kartama pomocí klávesnice
    function rotatecard(t){
        let front = t.children[0].children[0];
        let back = t.children[0].children[1];
        if (front.style.transform=="rotateY(0deg)"){
            front.style.transform="rotateY(180deg)"
            back.style.transform="rotateY(0deg)"
        }else{
            front.style.transform="rotateY(0deg)"
            back.style.transform="rotateY(180deg)"
        }
    }
    function movecard(smer){
        if(balicekKaretVyber.firstChild){
            removedraggable(balicekKaretVyber.children[balicekKaretVyber.children.length-1]);
            switch (smer){
            case "left":
                balicekKaretSpatny.appendChild(balicekKaretVyber.children[balicekKaretVyber.children.length-1]);
                break;
            case "right":
                balicekKaretDobry.appendChild(balicekKaretVyber.children[balicekKaretVyber.children.length-1]);
                break;
        }
        }
    }
    function removedraggable(elmnt){
        elmnt.onmousedown="";
        elmnt.onmousemove="";
        elmnt.onmouseup="";
    }
    //Make the DIV element draggable:
    function dragElement(elmnt) {
        let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0,x=0,y=0;
        elmnt.onmousedown = dragMouseDown;

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }
        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;

            x=elmnt.offsetTop- pos2
            y=elmnt.offsetLeft - pos1
            // set the element's new position:
            elmnt.style.top = x + "px";
            elmnt.style.left = y + "px";
        }
        function closeDragElement() {
            console.log(elmnt.id);
            /* stop moving when mouse button is released:*/
            if(elmnt.classList.contains("karta")){
                if (y<-75){
                    removedraggable(elmnt);
                    balicekKaretSpatny.appendChild(elmnt);
                }else if(y>175){
                    removedraggable(elmnt);
                    balicekKaretDobry.appendChild(elmnt);
                }
            }
            else if(elmnt.id=="SPATNY"){
                if(y>100 & y<300){
                    for(let i=0;i<balicekKaretSpatny.children.length;i++){
                        balicekKaretVyber.appendChild(balicekKaretSpatny.children[i]);
                    }
                    balicekKaretSpatny.innerHTML="";
                }
            }
            
            elmnt.style.top="0px";
            elmnt.style.left="0px";
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
    // Obecné funkce pro otázky, ... -----------------------------
    // zobrazuje okno pro teorie, texty, otázky, ...
    function visibilator(lekce,typ,ukol){
        CanUseEsc=true;
        $("#TestDiv").show();
        if (typ=="w"){
            CurrentVocabulary=NJ["lekce"+lekce]["words"][ukol];
            slovicka=""
            document.getElementById("slovnicek").innerHTML="<tr><th>id</th><th>německy</th><th>česky</th></tr>";
            for(let i=0;i<CurrentVocabulary[0];i++){
                slovicka+="<tr><td>"+(i+1)+"</td><td>"+CurrentVocabulary[1][i]+"</td><td>"+CurrentVocabulary[2][i]+"</td></tr>";
            };
            document.getElementById("slovnicek").innerHTML+=slovicka;
            document.getElementById("strana").innerHTML=ukol;
            $(".xs").show();
        }
        else{
            $(".x"+lekce+typ+ukol).show();
        }
    };
    // skovává okno pro teorie, texty, otázky, ...
    function hider(){
        $("#TestDiv").hide();
        $("#TDContent").children().hide();
        $(".task").hide();
        $(".congratulation").hide();
        balicekKaretDobry.innerHTML="";
        balicekKaretSpatny.innerHTML="";
        balicekKaretVyber.innerHTML="";
        vyhodnoceni.innerHTML="";
        for(let i=0;i<4;i++){
            ABCDanswer[i].style.border="solid 3px rgb(189, 213, 234)";
        }
        document.getElementById("XP").style.border="none";
        document.getElementById("X").value="";
        CanUseEsc=false;
        CanUseEnter=false;
        CanUseArrows=false;
        dvapokusy=1;
    };
    async function checkanswer (x){
        switch(TypeOfTest){
            case "ABCD":
                a=document.getElementById(x)
                if (SetOfQuestions[MomentalQuestion].a==a.innerHTML){
                    a.style.border=spravnabarva;
                    UnusedQuestions.splice(UnusedQuestions.indexOf(MomentalQuestion),1);
                    if(document.getElementById("chvilkanakontrolu").checked){
                        await sleep(500);
                    }
                    for (let i=0;i<4;i++){
                        ABCDanswer[i].style.border=zakladnibarva; 
                    }
                    newquestion()
                }
                else{
                    Success[MomentalQuestion]=0;
                    a.style.border=spatnabarva;
                }
                break;
            case "X":
                if (SetOfQuestions[MomentalQuestion].a==document.getElementById("X").value){
                    UnusedQuestions.splice(UnusedQuestions.indexOf(MomentalQuestion),1);
                    document.getElementById("XP").style.border=spravnabarva;

                    if(document.getElementById("chvilkanakontrolu").checked){
                        await sleep(500);
                    }
                    document.getElementById("XP").style.border="none";
                    document.getElementById("X").value="";
                    newquestion()
                }
                else{
                    document.getElementById("XP").style.border=spatnabarva;
                    if(dvapokusy==0){
                        Success[MomentalQuestion]=0;
                        document.getElementById("SubstituteForInput").innerHTML=SetOfQuestions[MomentalQuestion].a;
                        $("#SubstituteForInput").show();
                        $("#XP").hide();
                    }
                    else if (dvapokusy==-1) {
                        document.getElementById("SubstituteForInput").innerHTML="";
                        $("#SubstituteForInput").hide();
                        $("#XP").show();
                        UnusedQuestions.splice(UnusedQuestions.indexOf(MomentalQuestion),1);
                        document.getElementById("XP").style.border="none";
                        document.getElementById("X").value="";
                        newquestion();
                    }
                    dvapokusy--;
                }
                break;
            case "NtoCZ":
            case "CZtoN":
                let n;
                let slovicka;
                let itcanbe=false;
                if(TypeOfTest=="NtoCZ"){
                    n=1;
                }else{
                    n=2
                }
                slovicka=CurrentVocabulary[n][MomentalQuestion].replace("/\s/g", '').split(",")
                for(let i=0;i<slovicka.length;i++){
                    if (slovicka[i]==document.getElementById("X").value){
                        itcanbe=true;
                        break;
                    }
                }
                if(itcanbe){
                    UnusedQuestions.splice(UnusedQuestions.indexOf(MomentalQuestion),1);
                    document.getElementById("XP").style.border=spravnabarva;

                    if(document.getElementById("chvilkanakontrolu").checked){
                        await sleep(500);
                    }
                    document.getElementById("XP").style.border="none";
                    document.getElementById("X").value="";
                    newquestion();
                }
                else{
                    document.getElementById("XP").style.border=spatnabarva;
                    if(dvapokusy==0){
                        Success[MomentalQuestion]=0;
                        document.getElementById("SubstituteForInput").innerHTML=CurrentVocabulary[n][MomentalQuestion];
                        $("#SubstituteForInput").show();
                        $("#XP").hide();
                    }else if(dvapokusy==-1){
                        document.getElementById("SubstituteForInput").innerHTML="";
                        $("#SubstituteForInput").hide();
                        $("#XP").show();
                        UnusedQuestions.splice(UnusedQuestions.indexOf(MomentalQuestion),1);
                        document.getElementById("XP").style.border="none";
                        document.getElementById("X").value="";
                        newquestion();
                    }
                    dvapokusy--;
                }
                break;
        }
    };
    function newquestion (){

        if (UnusedQuestions.length>0){
            do{
                switch(TypeOfTest){
                    case "ABCD":
                    case "X":
                        a=Math.floor(Math.random()*SetOfQuestions.length);   
                        break;
                    case "CZtoN":
                    case "NtoCZ":
                        a=Math.floor(Math.random()*CurrentVocabulary[0]);
                        break;   
                }
            }
            while(!UnusedQuestions.includes(a));
            MomentalQuestion=a;
            dvapokusy=1;
            switch(TypeOfTest){
                case "ABCD":
                    document.getElementById("nzABCD").innerHTML=SetOfQuestions[MomentalQuestion].zadaniN;
                    document.getElementById("czABCD").innerHTML=SetOfQuestions[MomentalQuestion].zadaniC;
                    document.getElementById("FrantaABCD").innerHTML=SetOfQuestions[a]["q"];
                    b=["a","1","2","3"];
                    for (let i=0;i<4;i++){
                        d=Math.floor(Math.random()*(3-i));
                        ABCDanswer[i].innerHTML=SetOfQuestions[a][b[d]];
                        b.splice(d,1);
                    };
                    break;
                case "X":
                    document.getElementById("X").focus();
                    CanUseEnter=true;
                    document.getElementById("nzX").innerHTML=SetOfQuestions[MomentalQuestion].zadaniN;
                    document.getElementById("czX").innerHTML=SetOfQuestions[MomentalQuestion].zadaniC;
                    document.getElementById("FrantaX").innerHTML=SetOfQuestions[a]["q"];
                    break;
                case "CZtoN":
                    document.getElementById("X").focus();
                    CanUseEnter=true;
                    document.getElementById("nzX").innerHTML="Schreibst du die deutsche Version des Wortes.";
                    document.getElementById("czX").innerHTML="Napiš německou verzi slovíčka.";
                    document.getElementById("FrantaX").innerHTML=CurrentVocabulary[1][MomentalQuestion];
                    break;
                case "NtoCZ":
                    document.getElementById("X").focus();
                    CanUseEnter=true;
                    document.getElementById("nzX").innerHTML="Schreibst du die tschechische Version des Wortes.";
                    document.getElementById("czX").innerHTML="Napiš českou verzi slovíčka.";
                    document.getElementById("FrantaX").innerHTML=CurrentVocabulary[2][MomentalQuestion];
                    break;
            };
        }
        else{
            endOfTest();
        };
    };
    function teststart(type,k,t,x){
        $(".Teorie").hide();
        switch(type){
            case "ABCD":
            case "X":
                $("."+type).show();
                SetOfQuestions=NJ["lekce"+k][t][x-1];
                UnusedQuestions=Array.from({length:SetOfQuestions.length}, (_, i) => i);
                Success=Array.from({length:SetOfQuestions.length},(_,i) => 1);
                TypeOfTest=type;
                NumberForCalculationOfSuccess=0
                newquestion();
                break;
            case "CZtoN":
            case "NtoCZ":
                $(".X").show();
                UnusedQuestions=Array.from({length:CurrentVocabulary[0]}, (_, i) => i);
                Success=Array.from({length:CurrentVocabulary[0]},(_,i) => 1);
                TypeOfTest=type;
                NumberForCalculationOfSuccess=0
                newquestion();
                break;
            case "FlashCards":
                $(".FLASHCARDS").show();
                CanUseEnter=true;
                CanUseArrows=true;
                TypeOfTest=type;
                FlashcardsPreparing();
                break;
        }  
    };
    function endoftest(){
        $(".task").hide();
        for (let i=0;i<Success.length;i++){
            NumberForCalculationOfSuccess+=Success[i];
        };
        document.getElementById("procenta").innerHTML=Math.round(NumberForCalculationOfSuccess/Success.length*100)+"%";
        $("congratulation").show();
        CanUseArrows=false;
        CanUseEnter=false;
    }

    //------------------------------------------------------------


</script>
{%endblock%}