<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='style.css')}}">
    <title>{%block title%}{%endblock%}</title>
    
</head>
<body>
    <nav class="Nav">
        <p class="Name">LyceumGO</p>
        <div class="Buttons">
            <a href="home">Home</a>
            {%block nav%}
            
            {%endblock%}
        </div>
    </nav>
    {%block content%}
    {%endblock%}
    <script type="text/javascript" src="{{url_for('static',filename='javascriptoooooooooooooo/MiraProJAVASCRIPTER.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='javascriptoooooooooooooo/mira.js')}}"></script>

</body>
</html>