<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/universal.css')}}">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/style.css')}}">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/profile.css')}}">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/logreg.css')}}">

    <title>{%block title%}{%endblock%}</title>
    
</head>
<body>
    <nav class="Nav">
        <p class="Name">LyceumGO</p>
        <div class="Buttons">
            <a href="home" class="link">Home</a>
            <a href="subjects" class="link">Subjects</a>
            {%block nav%}
            
            {%endblock%}
        </div>
    </nav>
    {%block content%}
    {%endblock%}

    <script type="text/javascript" src="{{url_for('static',filename='javascriptoooooooooooooo/test2.js')}}"></script>

</body>
</html>