<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='style.css')}}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <nav class="Nav">
        <p class="Name">HokusPokus</p>
        <div class="Buttons">
            <button><a href="home" class="home">Home</a></button>
            {%block nav%}
            
            {%endblock%}
        </div>
    </nav>
    {%block content%}
    
    {%endblock%}
</body>
</html>
