<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/universal.css')}}">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/style.css')}}">

    <title>{%block title%}{%endblock%}</title>
    {%block head%}
    {%endblock%}
</head>
<body>
    <nav class="Nav">
        <p class="Name">LyceumGO</p>
        <div class="Buttons">
            <a href="home" class="link">Home</a>
            <a href="classroom" class="link">Třída</a>
            <a href="subjects" class="link">Předměty</a>

            <div class="dropdown">
                <button class="button--">{{user.name}}</button>
                <div class="dropdown-content">
                    <a href="profile">Účet</a>
                    <a href="notification">Oznámení</a>
                    <a href="logout">Logout</a>
                </div>
            </div>
            {%block nav%}
            {%endblock%}
        </div>
    </nav>
    {%block content%}
    {%endblock%}



</body>
</html>