{%extends "baselog.html"%}
{%block title%}Classrooms{%endblock%}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/classrooms.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">
{%endblock%}
{%block content%}
<div id="flex-container">
<div id="Maindiv">
{%for i in classrooms%}
    <div class="class" onclick="classroomClick('{{i.name}}')">
        <div class="name">
            {{i.name}}
        </div>
        <div class="PS">
            (němčina)
        </div>
    </div>
{%endfor%}
</div>
</div>
<script>
    function classroomClick(x){
        $.post("/classrooms", {
            submit_button:"changePage",
            value:x
        });
    }
</script>
{%endblock%}