{%extends "baselog.html"%}
{%block title%}Třída{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/classroom.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">
{%endblock%}
{%block content%}
{%if not user.classroom%}
    {%if user.person=="s"%}
        <div id="studentdiv">
            <div id="content">
                <form action="" method="POST">
                    <div class="Input">
                        <input type="text" name="code" placeholder="Zadej kód" class="Inputs">
                    </div>
                    <div class="Input">
                        <button class="BasicButton" name="submit_button" value="findclass" id="tlacitko">Odeslat</button>
                    </div>
                </form>
            </div>
        </div>
    {%elif user.person=="t"%}
        <div id="uciteldiv">
            <form action="" method="POST" style="margin:auto">
                <input type="text" name="name" placeholder="Enter name" class="Inputs">
                <select name="grade" class="Inputs">
                    <option value="g1">Ročník 1</option>
                    <option value="g2">Ročník 2</option>
                    <option value="g3">Ročník 3</option>
                    <option value="g4">Ročník 4</option>
                </select>
                <button class="BasicButton" value="createclass" name="submit_button" id="tlacitko">Vytvořit třídu</button> 
            </form>

        </div>
    {%endif%}
{%else%}
<div id="flex-container">
    <div id="MainDiv">
        <div id="ClassInfo">   
            <div id="Name"><b>{{classroom.name}}</b></div>
            <div id="info">
                <div class="i">Učitelka: {{classroom.teacher}}</div>
                <div class="i">Založeno: {{classroom.beginning}}</div>
                <div class="i">Code: {{classroom.code}}</div>
            </div>
        </div>
        <div class="seznam">
            <b>
            <div id="classnav">
                <div class="objekt" id="o1">Studenti</div>
                <div class="objekt" id="o2">Chat</div>
                <div class="objekt" id="o3">Předměty</div>
            </div>
            </b>
            <div class="s" id="s0">
                <table style="width:100%">
                    <tr style="background-color: rgb(91, 91, 172);border-bottom:1px solid black">
                        <th style="width:5%">Id</th>
                        <th style="width:70%">Jméno</th>
                        <th style="width:95%">Oblíbený předmět</th>
                        <th style="width:100%"></th>
                    </tr>
                    <form method="POST">
                    {%for i,v in students%}
                        <tr class="sinfo">
                            <td>{{i+1}}</td>
                            <td>{{v.name}}</td>
                            <td>{{v.favouritesub}}</td>
                            <td><button value="kickstudent-{{v.id}}" name="submit_button" id="kickstudent">✕</button></td>
                        </tr>
                    {%endfor%}
                </form>
                </table>
            </div>
            <div class="s" id="s1">
                probably never come
                <ul id="messages"></ul>
                <input type="text" id="myMessage">
                <button name="submit_button" value="sendmess" id="sendButton">Send</button>
            </div>
            <div class="s" id="s2">
                {%for sub in classroom.subclass%}
                    <div class="subject">
                        <p id=""><b>{{sub.subject}}</b></p>
                        Učitel(ka): {{sub.teacher}}
                    </div>
                {%endfor%}
                {%if user.person=="t"%}
                <div class="BasicButton" id="NewClassroom">
                    Vytvořit novou učebnu
                </div>
                {%endif%}
            </div>
        </div>
    </div>
{%if user.person=="t"%}
    <div id="CreateSubClass">
        <div class="Bubak">
            <form method="POST">
                <div class="input">
                    <label>Předmět:</label><br>
                    <select name="subject">
                        {%for i in subjects[classroom.grade-1]%}
                            <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="input">
                    <label>Učitel:</label><br>
                    <select name="teacher">
                        {%for i in teachers%}
                            <option  value="{{i.name}}">{{i.name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <button name="submit_button" value="createsubclass">Vytvoř učebnus</button>
            </form>
            <div class="BasicButton" id="exit">
                Zrušit
            </div>
        </div>
    </div>
{%endif%}
    <script>
        $(document).ready(function(){
            for(let i=0;i<4;i++){
                $("#s"+i).hide();
            }
            $("#s0").show();
            for(let i=1;i<=4;i++){
                $("#o"+i).click(function(){
                    for(let i=0;i<4;i++){
                        $("#s"+i).hide();
                    }
                    $("#s"+(i-1)).show();
                });
            }   
            $("#CreateSubClass").hide()
            $("#NewClassroom").click(function(){
                $("#CreateSubClass").show()
            })
            $("#exit").click(function(){
                $("#CreateSubClass").hide()
            }) 
        });
    </script>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='javascriptoooooooooooooo/liveChat.js')}}"></script>

{%endif%}
{%endblock%}