{%extends "baselog.html"%}
{%block title%}Třída{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/classroom.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">
{%endblock%}
{%block content%}
{%if not user.classroom%}
    {%if user.person=="s"%}
        <div id="studentdiv">
            <div id="content">
                <form action="" method="POST">
                    <div class="Input">
                        <input type="text" name="code" placeholder="Zadej kód" class="Inputs">
                    </div>
                    <div class="Input">
                        <button class="BasicButton" name="submit_button" type="submit" value="Odeslat" id="tlacitko">Odeslat</button>
                    </div>
                </form>
            </div>
        </div>
    {%elif user.person=="t"%}
        <div id="uciteldiv">
            <form action="" method="POST" style="margin:auto">
                <input type="text" name="name" placeholder="Enter name" class="Inputs">
                <select name="grate" class="Inputs">
                    <option value="g1">Ročník 1</option>
                    <option value="g2">Ročník 2</option>
                    <option value="g3">Ročník 3</option>
                    <option value="g4">Ročník 4</option>
                </select>
                <button class="BasicButton" value="createclass" name="submit_button" id="tlacitko">Vytvořit třídu</button> 
            </form>

        </div>
    {%endif%}
{%else%}
<div id="flex-container">
    <div id="MainDiv">
        <div id="Name"><b>{{classroom.name}}</b></div>

        <div id="info">
            <div class="i">Učitelka: {{classroom.teacher}}</div>
            <div class="i">Založeno: {{classroom.beginning}}</div>
            <div class="i">Code: {{classroom.code}}</div>
        </div>
        <div class="seznam">
            <b>
            <div id="classnav">
                <div class="objekt" id="o1">Studenti</div>
                <div class="objekt" id="o2">Chat</div>
                <div class="objekt" id="o3">Předměty</div>
            </div>
            </b>
            <div class="s" id="s0">
                <table id="tabulka">
                    <tr style="background-color: rgb(91, 91, 172);border-bottom:1px solid black">
                        <th style="width:5%">Id</th>
                        <th style="width:70%">Jméno</th>
                        <th style="width:100%">Score</th>
                    </tr>
                    {%for i in range(30)%}
                        <tr class="sinfo">
                            {%if students[i]%}
                                <td>{{i+1}}</td>
                                <td>{{students[i].name}}</td>
                                <td>{{students[i].score}}</td>
                            {%endif%}
                        </tr>
                    {%endfor%}
                </table>
            </div>
            <div class="s" id="s1">
                probably never come
                <ul id="messages"></ul>
                <input type="text" id="myMessage">
                <button id="sendButton">Send</button>
            </div>
            <div class="s" id="s2">
                <form action="" method="POST">
                    {%for sub,teacher in subxteach.items()%}
                        {%if sub%}
                                <div class="subject">
                                    <p id=""><b>{{sub}}</b></p>
                                    
                                        {%if teacher%}
                                        Učitel(ka):
                                            <select name="{{sub}}">
                                                <option value={{teacher}}>{{teacher}}</option>
                                                {%for t in teachers%}{%if teacher!=t%}
                                                    <option value="{{teacher}}">{{t.name}}</option>{%endif%}
                                                {%endfor%}
                                            </select>
                                        {%else%}
                                            Učitel(ka):
                                            <select name="{{sub}}">
                                                <option value="None"></option>
                                                {%for teacher in teachers%}
                                                    <option value="{{teacher}}">{{teacher.name}}</option>
                                                {%endfor%}
                                            </select>
                                        {%endif%}
                                </div>
                        {%endif%}
                    {%endfor%}
                <button name="submit_button" value="sendt">Uložit</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            for(let i=0;i<4;i++){
                $("#s"+i).hide();
            }
            $("#s0").show();
            for(let i=1;i<=4;i++){
                $("#o"+i).click(function(){
                    for(let i=0;i<4;i++){
                        $("#s"+i).hide();
                    }
                    $("#s"+(i-1)).show();
                });
            }    
        });
    </script>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='javascriptoooooooooooooo/liveChat.js')}}"></script>

{%endif%}
{%endblock%}