{% if user.is_authenticated %}
    {%extends "baselog.html"%}
{% else %}
    {%extends "base.html"%}
{% endif %}
{%block content%}
<div id="Info">
    
    {%if user%}
        <img src="{{url_for('static',filename='images/Incognito.png')}}" class="UserImg">

        <form action="" method="post">
            <div id="info">
                <div class="information">Jméno: <input type="text" placeholder={{user.name}} class="Inputs" name="name"></div>
                <div class="information">Email: {{user.email}}</div>
                <div class="information">Ročník: {{user.grate}}</div>
                <div class="information">Oblíbený předmět:{%for i,subject in subjects.items()%}{%if subject.favourite%}
                    <span class="fsubject"id='test{{i}}'><button class="fs" id={{i}} value={{i}} name="submit_button"> ✕ </button> {{i}}</span> {%endif%}{%endfor%}</div>
                <div class="information">O mě:<br> 
                    <textarea name="note" class="Inputs" id="EProfileAboutMe">{%if note%}{{note.data}}{%endif%}</textarea>
                </div>
                <input type="submit" class="BasicButton" name="submit_button" value="Uložit">
                <input type="submit" class="BasicButton" name="submit_button" value="Zrušit">
            </div>
        </form>
    {%endif%} 
</div>
{% endblock %}