{%extends "base.html"%}
{%block title%}Home page{% endblock %}
{%block nav%}
    {% if user.is_authenticated %}
        <div class="dropdown">
            <button>{{user.name}}</button>
            <div class="dropdown-content">
                <a href="profile">Account</a>
                <a href="logout">Logout</a>
            </div>
        </div>
    {% else %}
        <div class="dropdown">
            <button>User</button>
            <div class="dropdown-content">
                <a href="login">Login</a>
                <a href="register">Register</a>
            </div>
        </div>
    {% endif %}
{%endblock%}
{%block content%}

        <div id="divTabletosondo"></div>
        
        {% if user.is_authenticated %}
        {% else %}
            <script type="text/javascript" src="{{url_for('static',filename='javascriptoooooooooooooo/test1.js')}}"></script>
        {% endif %}
{% endblock %}

<!--       -->


    
