{%extends "base.html"%}
{%block title%}Registration page{% endblock %}
{%block nav%}
<div class="dropdown">
    <button>User</button>
    <div class="dropdown-content">
        <a href="login">Login</a>
        <a href="register">Register</a>
    </div>
</div>
{% endblock %}
{%block content%}


<div class="MainDiv" style="height:400px">
    <p class="Nadpis"><b>Login</b></p>
    <div class="Information">
        <form action="" method="post" class="form">
            {{ form.csrf_token }}
            {{form.hidden_tag()}}
            <div class="Input" >
                <label for="email"><b>Email</b></label><br>
                {{form.email(required="required",placeholder="Enter email",class="Inputs")}}
            </div>
            <div class="Input" >
                <label for="password"><b>Password</b></label><br>
                {{form.password(required="required",type="password",placeholder="Enter password",class="Inputs")}}
            </div>
            <div class="Input">
                <label style="margin-bottom: 10px">
                    <input name="remember_me" type="checkbox" value="y"> Remember me
                </label>
            </div>
            {{form.submit(style="padding:5px", value="Odeslat")}}
        </form> 
        {%with messages = get_flashed_messages()%}
            {% if messages %}
                {%for msg in messages %}
                <p>{{msg}}</p>
                {%endfor%}
            {% endif %}
        {%endwith%}
    </div>
</div>
{% endblock %}