{%extends "baselog.html"%}
{%block title%}Oznámení{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/notification.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">

{%endblock%}
{%block content%}
<div id="flex-container">
<div id="Maindiv">
    <div id="PageTitle">Messages</div>
    <div id="tabulka">
        <div id="head">
            <span style="width:450px">Info</span>
            <span style="width:200px">Datum</span>
            <span style="width:100px">Odpověď</span>
        </div>
        <div id="body">
        {%for message in user.messages%}
        <div class="mess">
            <span style="width:450px" class="m">{{message.message}} </span>
            <span style="width:200px">{{message.datum}} </span>
            <span style="width:100px">
            <form method="POST" style="margin:auto">
                {%if message.typeM=="AnoNe"%}
                <button type="submit" value="{{message.id}}-yes" name="submit_button" class="button">Yes</button>
                <button type="submit" value="{{message.id}}-no" name="submit_button" class="button">No</button>
                {%else%}
                <button type="submit" value="{{message.id}}-" name="submit_button" class="button">✕</button>
                {%endif%}
            </form>
            </span>
        </div>
        {%endfor%}
        </div>
    </div>
</div>
</div>
{%endblock%}