{%extends "baselog.html"%}
{%block title%}Oznámení{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/notification.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">

{%endblock%}
{%block content%}
<div id="flex-container">
    <div id="Maindiv">
        <table id="tabulka">
            <tr style="background-color: rgb(91, 91, 172);border-bottom:1px solid black">
                <th style="column-span:3">Messages</th>

            </tr>
            {%for message in messages%}
                <tr class="sinfo">
                    <td></td>
                    <td>{{message.name}}</td>
                    <td>{{message.text}}</td>
                </tr>
            {%endfor%}
        </table>
    </div>
</div>
{%endblock%}