{%extends "baselog.html"%}
{%block title%}Profil{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/profile.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">
{%endblock%}
{%block content%}
<div id="flex-container">
<div id="Info">
    <div id="Me">
        <p style="font-size: 36px;margin-top:10px;"><b>{{user.name}}</b></p>
        {%if user.person=="s"%}
            <p >Student</p>
        {%else%}
            <p >Učitel</p>
        {%endif%}
    </div>
    <div id="userstats">
        <div class="statistics">
            Němčina
            <div class="aktivita" id="Naktivita">
            </div>
            <div class="progres">
                Progres: <div class="ProgresBar"><div id=NPlnitko></div></div>
            </div>
        </div>
        <div class="statistics">
            Informatika
            <div class="aktivita" id="INFaktivita">
            </div>
            <div class="progres">
                Progres: <div class="ProgresBar"><div id=INFPlnitko></div></div>
            </div>
        </div>
        <div class="statistics">
            Programování
            <div class="aktivita" id="PRGaktivita">
            </div>
            <div class="progres">
                Progres: <div class="ProgresBar"><div id=PRGPlnitko></div></div>
            </div>
        </div>
    </div>
    <div id="info">

        <form method="POST">
        <p class="information">Email: {{user.email}}</p>
        <p class="information">Oblíbený předmět:
            <select name="FS" id="FS">
                {%for i in ["","Němčina","Informatika","Programování"]%}
                    <option value="{{i}}"{%if user.favouritesub==i %}selected{%endif%}>{{i}}</option>
                {%endfor%}
            </select>
        </p>
        <p class="information">Třída:{%if classroom%} {{classroom}}{%endif%}</p>
            <button type="submit" name="submit_button"value="save" id="save" class="BasicButton" style="display:none">Uložit</button>
        </form>
</div>
</div>
</div>
<script>
const a="{{user.Nactivity}}".split("/");
const myDate = new Date();
    const days=["Po","Út","St","Čt","Pá","So","Ne"];
    function sleep(ms){
        return new Promise(resolve => setTimeout(resolve,ms))
    };
    for(let i=0;i<7;i++){
        document.getElementById("Naktivita").innerHTML+=`
        <div class="day">
            ${a[i]=="F"?"":"<img src='{{url_for('static',filename='images/BFire.png')}}'>"} 
            <p>${myDate.getDay()+i>6?days[myDate.getDay()+i-7]:days[myDate.getDay()+i]}</p>
        </div>`;
        document.getElementById("INFaktivita").innerHTML+=`
        <div class="day">
            ${a[i]=="F"?"":"<img src='{{url_for('static',filename='images/BFire.png')}}'>"} 
            <p>${myDate.getDay()+i>6?days[myDate.getDay()+i-7]:days[myDate.getDay()+i]}</p>
        </div>`;
        document.getElementById("PRGaktivita").innerHTML+=`
        <div class="day">
            ${a[i]=="F"?"":"<img src='{{url_for('static',filename='images/BFire.png')}}'>"} 
            <p>${myDate.getDay()+i>6?days[myDate.getDay()+i-7]:days[myDate.getDay()+i]}</p>
        </div>`;

    }
    async function aktivita () {
        for(let i=0;i<7;i++){
            await sleep(200)
            document.getElementById("Naktivita").children[i].children[0].style.opacity=1;
            document.getElementById("INFaktivita").children[i].children[0].style.opacity=1;
            document.getElementById("PRGaktivita").children[i].children[0].style.opacity=1;
        }
    }
    aktivita();
    document.getElementById("FS").addEventListener("change",function(){
        document.getElementById("save").style.display="block"
    })
    document.getElementById("NPlnitko").style.width="{{NJ.progress}}px";
    document.getElementById("INFPlnitko").style.width="{{INF.progress}}px";
    document.getElementById("PRGPlnitko").style.width="{{PRG.progress}}px";
    
</script>
{% endblock %}