{% if user.is_authenticated %}
    {%extends "baselog.html"%}
{% else %}
    {%extends "base.html"%}
{% endif %}
{%block title%}Profil{% endblock %}
{%block content%}
<div id="Info">
    {%if user%}
        <div id="user">
            <img src="{{url_for('static',filename='images/Incognito.png')}}" class="UserImg">
            <div id="info">
                <p style="font-size: 36px;"><b>{{user.name}}</b></p>
                <p class="information">Email: {{user.email}}</p>
                <p class="information">Ročník: {{user.grate}}</p>
                <p class="information">Oblíbené předměty:{%for i,subject in subjects.items()%}{%if subject.favourite%} {{i}}{%endif%} {%endfor%}</p>
                {%if classroom%}<p class="information">Třída: {{classroom}}</p>{%endif%}
                <p class="information">O mě(nebo mně IDK):</p>
                <p id="ProfileAboutMe">
                {%if note%}
                    {{note.data}}
                {%endif%}</p>
            </div>
            <a href="editprofile"><p class="BasicButton">Upravit profil</p></a>
        </div>
        <div id="userstats">
            {%for index,value in subjects.items()%}

                <div class="subjects">
                    <table>
                        <tr >
                            <td rowspan="3"><img src="{{url_for('static',filename='images/'+index+'.png')}}"></td>
                            <td><p><b>{{index}}<img id="star" src="{{url_for('static',filename='images/wstart.png')}}">
                            </b></p></td>
                        </tr>
                        <tr>
                            <td>{{value.progres}}</td>
                        </tr>
                    </table>
                </div>
            {%endfor%}
        </div>

    {%endif%} 
    {%with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
                {%for category,msg in messages %}
                    {%if category=="error"%}
                        <p style="background-color: rgb(214, 97, 97);">{{msg}}</p>
                    {%else:%}
                        <p style="background-color: rgb(135, 224, 94);">{{msg}}</p>
                    {%endif%}
                {%endfor%}
            {% endif %}
        {%endwith%}
</div>
{% endblock %}