{%extends "base.html"%}
{%block title%}Registration page{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/logreg.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">
{%endblock%}
{%block content%}
<div id="flex-container">
<div class="MainDiv" >
    <p class="Nadpis"><b>Register</b></p>
    <div class="Information">
        <form action="" method="post"  class="form"> 
            {{ form.csrf_token }}
            {{form.hidden_tag()}}
            <div class="Input">
                <label><b>Email</b></label><br>
                {{form.email(type="text",placeholder="Enter email", class="Inputs")}}
            </div>
            <div class="Input">
                <label><b>Jméno</b></label><br>
                {{form.name(type="text",placeholder="Enter name", class="Inputs")}}
            </div>
            <div class="Input">
                <label><b>Heslo</b></label><br>
                {{form.password1(type="password",placeholder="Enter password", class="Inputs")}}
            </div>
            <div class="Input">
                <label><b>Heslo (Potvrzení):</b></label><br>
                {{form.password2(type="password",placeholder="Enter password (again)", class="Inputs")}}
            </div>
            <div class="Input">
                {{form.person(class="Inputs")}}
            </div>
            <div style="margin-top:30px">
                {{ form.submit(style="padding:5px", value="Register") }}
            </div>
        </form> 
    </div>
    <div style="position: relative;top:100px">
        {%with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
                {%for msg in messages %}
                    flash error:<p style="background-color: rgb(214, 97, 97);">{{msg}}</p>
                {%endfor%}
            {% endif %}
        {%endwith%}
        {% for error in form.name.errors%}
            <p style="background-color: rgb(214, 97, 97);">{{error}}</p>
        {% endfor%}
        {% for error in form.password1.errors%}
            <p style="background-color: rgb(214, 97, 97);">{{error}}</p>
        {% endfor%}
        {% for error in form.email.errors%}
            <p style="background-color: rgb(214, 97, 97);">{{error}}</p>
        {% endfor%}
    </div>
</div>
</div>
{% endblock %}