{% if user.is_authenticated %}
    {%extends "baselog.html"%}
{% else %}
    {%extends "base.html"%}
{% endif %}
{%block title%}Subjects{% endblock %}
{%block content%}
<div>
    <table style="float: left;">
        <tr>
            <td class="td__"><button id="G0"><p class="p__">První ročník</p></button></td>
        </tr>
        <tr>
            <td class="td__"><button id="G1"><p class="p__">Druhý ročník</p></button></td>
        </tr>
        <tr>
            <td class="td__"><button id="G2"><p class="p__">Třetí ročník</p></button></td>
        </tr>
        <tr>
            <td class="td__"><button id="G3"><p class="p__">Čtvrtý ročník</p></button></td>
        </tr>
    </table>
    <table style="float: left;">
        <tr>
            <td id="_a_" class="aleale">Are you</td>
        </tr>
        <tr>
            <td id="_b_" class="aleale">making</td>
        </tr>
        <tr>
            <td id="_c_" class="aleale">fun</td>
        </tr>
        <tr>
            <td id="_d_" class="aleale">from programming?</td>
        </tr>
    </table>
 
</div>
{%endblock%}