{%extends "baselog.html"%}
{%block title%}Subjects{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/subjects.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">
{%endblock%}
{%block content%}
<div id="flex-container">
<div id="SubjectMainDiv">
    {%if user.person=="t"%}
    {%for sub in usersub%}
        <div class="sub">
            <a href="{{sub.subname}}">
                <div class="subject">
                    <p class="SubName">{{sub.subname}}</p>                    
                </div>
            </a>
        </div>
        
    {%endfor%}
    <div id="studySubject">
        ＋
    </div>
    {%endif%}
</div>
<div>
    <div id="CreateSub">
    <div class="Bubak">
        <form method="POST">
            <div id="input">
                <select id="selection"name="subject">
                    {%for i in subjects%}
                        <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
            </div>
            <button class="BasicButton"name="submit_button" value="createsub" id="buttonForSubjects">Vytvoř učebnu</button>
        </form>
        <div class="BasicButton" id="exit">
            Zrušit
        </div>
    </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function(){ 
        $("#studySubject").click(function(){
            $("#CreateSub").show()
        })
        $("#exit").click(function(){
            $("#CreateSub").hide()
        }) 
    });
</script>
{%endblock%}