{%extends "baselog.html"%}
{%block title%}Subjects{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/subjects.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">
{%endblock%}
{%block content%}
<div id="flex-container">
<div id="SubjectMainDiv">
    <a href="Germany">
        <div class="subject">
            <p class="SubName">Němčina</p>
        </div>
    </a>   
    <a href="https://www.youtube.com/c/NetworkChuck">
        <div class="subject">
            <p class="SubName">Informatika</p>
            <p style="position:absolute;left:50%;transform:translate(-50%,0%);top:200px">coming soon...</p>
        </div>
    </a>  
    <a href="https://www.codingame.com/home">
        <div class="subject">
            <p class="SubName">Programování</p>
            <p style="position:absolute;left:50%;transform:translate(-50%,0%);top:200px">coming soon...</p>
        </div>
    </a>  
</div>
</div>
{%endblock%}