{%extends "baselog.html"%}
{%block title%}Test{% endblock %}
{%block head%}
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/test.css')}}">
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='/stylesheets/zarovnavac.css')}}">
{%endblock%}
{%block content%}
<div id="bg">
<div id="MainDiv">
<form id="Test" method="POST">
</form>
</div>
</div>
<script>
    function sleep(ms){return new Promise(resolve => setTimeout(resolve,ms))};
    const test =document.getElementById("Test"); 
    const testQ = "{{test.data}}".split(";");
    for (let i=0;i<testQ.length;i++){
        Ukol=testQ[i].split("$");
        u=""
        if(Ukol[0].includes("Übersetzen diese Wörter")){
            console.log("trol")
            u+=`<div class='task'><div class="zadani"><b>${Ukol[0]}</b></div><div class="parent">`
            for(let x=1;x<Ukol.length;x++){
                u+=Ukol[x].split(":")[0];
                u+=`<input onchange='if(!/^[A-Za-z0-9|ě|š|č|ř|ž|ý|á|í|é|ů|ú|ß|ó|Ó|Ě|Š|Č|Ř|Ž|Ý|Á|Í|É|Ů|Ú|ü|ë|ä|ö|ÿ|Ü|Ë|Ä|Ö|Ÿ|\s]+$/g.test(this.value)){this.style.backgroundColor="red";this.value2='F'}else{this.style.backgroundColor="white";this.value2='T'}' name='${i+"-"+x}'>`;
            }
            u+="</div></div>"  
        }
        else{
            u+=`<div class='task'><div class="zadani"><b>${Ukol[0]}</b></div>`
            for(let x=1;x<Ukol.length;x++){
                u+=Ukol[x].split(":")[0].replace("_____",` <input onchange='if(!/^[A-Za-z0-9|ě|š|č|ř|ž|ý|á|í|é|ů|ú|ß|ó|Ó|Ě|Š|Č|Ř|Ž|Ý|Á|Í|É|Ů|Ú|ü|ë|ä|ö|ÿ|Ü|Ë|Ä|Ö|Ÿ|\s]+$/g.test(this.value)){this.style.backgroundColor="red";this.value2='F'}else{this.style.backgroundColor="white";this.value2='T'}' name='${i+"-"+x}'> `)+"<br>";
            }
            u+="</div>"
        }
        test.innerHTML+=u;
    }
    test.innerHTML+="<div id='submitButton' onclick='send()'  value='Test{{testid}}'>Odeslat</button>";

    $('form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    wait();
    async function wait(){
        await sleep(1000*60*{{duration}});
        send();
    }
    function send(){
        data=""
        for(let i=0;i<document.getElementsByClassName("task").length;i++){
            q=document.getElementsByClassName("task")[i].getElementsByTagName("input");
            z=testQ[i].split("$");
            for(let x=0;x<q.length;x++){
                if(x==0){
                    data+="QQQ"+z[x]
                }
                else{
                    if(z[x].split(":")[0].includes("_____")){
                        if(q[x].value2=="T"){
                            data+=";"+z[x].split(":")[0];
                        }else{
                            data+=";"+z[x].split(":")[0].replace("_____","_"+q[x].value+"_")
                        }
                    }else{
                        if (q[x].value2=="T"){
                            data+=";"+z[x].split(':')[0]+' _'+q[x].value+"_";
                        }else{
                            data+=";"+z[x].split(':')[0];
                        }
                    }
                }
            }
            data+="$";
        }
        console.log(data);
        $.post("/test", {
            data:data
        });
    }
</script>
{%endblock%}