{%extends "base.html"%}
{%block title%}Home page{% endblock %}
{%block nav%}
    {% if user.is_authenticated %}
        <div class="dropdown">
            <button>{{user.name}}</button>
            <div class="dropdown-content">
                <a href="user">Account</a>
                <a href="logout">Logout</a>
            </div>
        </div>
    {% else %}
        <div class="dropdown">
            <button>User</button>
            <div class="dropdown-content">
                <a href="login">Login</a>
                <a href="register">Register</a>
            </div>
        </div>
    {% endif %}
{%endblock%}
{%block content%}
<div class="Info">
    {%if user%}
        <img src="{{url_for('static',filename='images/Incognito.png')}}" class="UserImg">
        <p style="font-size: 45;"><b>{{user.name}}</b></p>
        <p>email: {{user.email}}</p>
        <a href="edituser"><p class="EditButton">Edit Account</p></a>
    {%endif%} 
    {%with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
                {%for category,msg in messages %}
                    {%if category=="error"%}
                        <p style="background-color: rgb(214, 97, 97);">{{msg}}</p>
                    {%else:%}
                        <p style="background-color: rgb(135, 224, 94);">{{msg}}</p>
                    {%endif%}
                {%endfor%}
            {% endif %}
        {%endwith%}
</div>
{% endblock %}