* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height:100%;
}
body{
  height:100%;
  background-color: rgb(239, 239, 250);
  font-family: arial;
}
/*----------------------------------------------------------------------*/
@font-face{
  font-family: fredokaone;
  src:url("fonts/fredokaone.woff2") format("woff2");
  font-weight: normal;
  font-style: normal
  }
@font-face{
  font-family:'Bree Serif';
  src:url("fonts/breeserif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal
}
@font-face{
  font-family:'Oxygen';
  src:url("fonts/oxygen.woff2") format("woff2");
  font-weight: normal;
  font-style: normal
}
/*----------------------------------------------------------------------*/
/*-----------base.html/and others-------------*/
.Name{
    color:rgb(254, 95, 85);
    position:relative;
    font-size:40px;
    font-family:fredokaone;
    margin:0px 20px;
    padding:10px
}
.Nav{
    background-color: rgb(73, 88, 103);
    width:100%;
    display:flex;
    align-items:center;
    height:80px
}
.Buttons{
  width:100%;
  position:relative;
  display:flex
}

.dropdown{
  position: absolute;
  right:150px;
}
.dropdown-content:hover{
  display:block;
}
.dropdown-content {
  margin-top:10px;
  display: none;
  position: absolute;
  background-color: rgb(87, 115, 153);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  left:-25px;
}
.dropdown-content a {
  color: white;
  padding:10px; 
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.dropdown button:focus + .dropdown-content {
  display:block;
  animation-name: ahojda;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes ahojda{
  0%{opacity: 0;top: 0px}
  100%{opacity: 1;top: 20px;}
}
.dropdown-content a:hover {
  /*background-color:rgb(254, 95, 85);*/
  border-radius: 5px;
  background-color: rgb(254, 95, 85);
}
.Buttons button,a{
  background: none;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor:pointer
}
/*------------------------------------------*/
/*-----------register.html/login.html-------*/
.MainDiv{
  margin: auto;
  position: relative;
  margin-top:200px;
  width:300px;
  height:500px;
  border-radius: 20px;
  border: 4px rgb(87, 115, 153);
  background-color: rgb(87, 115, 153);
  padding:30px;}

.Nadpis{
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;}
.Input{
      margin-bottom: 20px;
  }
.Information{
  position:relative;
  top:50px;
}
.Inputs{
  width:200px;
  border-radius:5px;
  padding:5px;
  border:solid 2px rgb(87, 115, 153);
}
.Inputs:focus{
  border-color:rgb(0, 0, 0);
}
/*------------------------------------------*/
/*--------profile.html/editprofile.html------------------*/
.Info{
  position:relative;
  margin:auto;
  margin-top:50px;
  background-color: rgb(189, 213, 234);
  padding:30px;
  width:1000px;
  height:500px;
}
.UserImg{
  border:3px solid;
  border-radius:5px;
}
.BasicButton{
  margin:10px 0px;
  background-color: rgb(87, 115, 153);
  padding:5px;
  border: 3px;
  border-radius: 5px;
  display:inline-block;
  clear:both;
  cursor:pointer;
  color:white;
  font-size: 18px;
}
.BasicButton:hover{
  background-color: rgb(254, 95, 85);
}

#AboutME{
  background-color: rgb(247, 247, 255);
  border-radius: 5px;
  width:400px;
  height:110px;
  margin-top:2px;
  padding:5px;
  font-size: 14px;
}
#AboutMEE{
  max-width:400px;
  min-width:400px;
  max-height: 75px;
  min-height: 75px;
  font-family: Arial;
  margin-top:10px;
}
#info{
  margin-top:20px;
  margin-bottom:10px;
  font-size:16px;
  font-family:"Arial";
}
textarea {
  resize: none;
}
.information{
  margin-top:10px;
}

::placeholder { /* Firefox, Chrome, Opera */
  color: black;
}
 
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:black;
}
/*------------------------------------------*/
/*---------------index.html-----------------*/

/*
    1)black                  rgb(73, 88, 103)
    2)blue                 rgb(87, 115, 153)
    3)bright blue          rgb(189, 213, 234)
    4)the brightest blue   rgb(247, 247, 255)
    5)red                    rgb(254, 95, 85)*/
/*začátek projektu asi koncem dubna 2021*/

#divTabletosondo{
  display: flex;
  justify-content: center;
  width: 599px;
  height: 369px;
  margin:0px auto;
}
#imgLogo{
  animation-name: imgAni;
  animation-duration: 1s;
  position: relative;
}
.testd{
  border: gray solid;
  animation-name: testTD;
  animation-duration: 1s;
  background-color: gray;
  font-size: 40px;
  font-family: fredokaone;
  padding:40px;
  width:400px
}
.divnnn{
  /*xddddd*/
}
.text2255{
  display:block;
  font-size: 50px;
  text-align: center;
}
.testd:hover{
  animation-name: testalala;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes testalala{
  100%{background-color: rgb(254, 95, 85);};
}

@keyframes testTD{
  0%{opacity: 0.8;}
  100%{opacity: 1;}
}
/*------------------------------------------*/
/*--------------aboutus.html----------------*/
#MainDiv{
  display:flex;
  justify-content: center;
  width:700px;
  background-color: rgb(87, 115, 153);
  height:800px;
  margin:auto;
  margin-top:50px;
  margin-bottom:50px;
}